<link rel="stylesheet" href="/assets/admin/addproducts.css" type="text/css">
<script   type="text/javascript" src="/js/remove-products.js"></script>


<section>


    <div class="container">
        <div class="form-section">
            <h1>Add New Product</h1>
            <div class="basic-section">
                <h2>Basic</h2>
                    <form action="/admin/uploaded" method="post" enctype="multipart/form-data">
                    <label for="product-title">Product title</label>
                    <input type="txt" id="product-title" name="name" placeholder="Type here">
                    
                    <label for="description">Full description</label>
                    <textarea id="full-description" name="description" placeholder="Type here"></textarea>
                    
                    <div class="price-section">
                        <div>
                            <label for="regular-price">Brand</label>
                            <input type="text" id="regular-price" name="Brand" placeholder="$">
                        </div>
                        
                        <div>
                          
                            <label for="currency">category</label>
                            <select id="currency" name="category">
                                 {{#each categories}}
                                <option value="{{this.name}}"> {{this.name}} </option>
                               
                                {{/each}}
                            </select>
                        </div>
                        
                        <div>
                            <label for="promotional-price"> price</label>
                            <input type="text" id="promotional-price" name="price" placeholder="$">
                        </div>
                        <div>
                            <label for="stock - quandity">stock</label>
                            <input type="text" id="promotional-price" name="stock" placeholder="no">
                        </div>
                    </div>
                    
                    <label for="tax-rate">Discount rate</label>
                    <input type="text" id="Discount" name="discount_price" placeholder="%">

                    <!-- New Category Section -->
                    

                    <!-- Publish Button -->
                   
             
            </div>
        </div>
          
        <aside class="image-preview-section">
            <h2>Image Preview</h2>
            <input type="file" id="image-upload" name="uploadimg" class="image-upload" accept="image/*" style="display: none;"  multiple="multiple" >
            <button type="button" id="upload-btn" class="upload-btn">Upload Image</button>
            <div class="image-preview" id="image-preview">
                <!-- Image containers will be added dynamically here -->
            </div>
        </aside>
    </div>
 <div class="publish-button-container">
                        <button type="submit" class="publish-button">Publish</button>
                    </div>
   </form>

</section>