<link rel="stylesheet" href="/assets/nav.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<section><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div class="row men">
   
 <div class="col-12 " >
        <img src="/pictures/men.webp" alt="" srcset="" style="width: 84em;">
    </div>
    <div class="menh1">
    <h2>Men collection 2024</h2>
    <h1>new Season</h4>
        </div>
             
   
</section>
<p style="margin-top: 3em; margin-left:8em">Men's Latest <br>Details to the dteails Lux-ous makes diffrent</p>

<section>
    <div class="container">
        <div class="row" style="text-align: center;">
          
   
           <div class="col-4"  style="text-align: center" >
   <img src="/pictures/men1.webp" class="mensimg" alt="" srcset="">
   <p> Classinc spring </p>
    <p style="inli"> $200 <i class="fa-regular fa-heart mx-5"></i>  </p>
      
           </div>
                 <div class="col-4">
   <img src="/pictures/men.webp" class="mensimg" alt="" srcset="">
   <p>Air force 1X <br> $350 <i class="fa-regular fa-heart mx-5"></i> </p>
           </div>
                 <div class="col-4">
   <img src="/pictures/men2.jpg" class="mensimg" alt="" srcset="">
    <p>Love Nana 20's <br> $300 <i class="fa-regular fa-heart mx-5"></i> </p>
           </div>
        
    </div>
    </div>
</section>

<p style="margin-top: 3em; margin-left:8em">Women's Latest <br>Details to the dteails Lux-ous makes diffrent</p>

<section>
    <div class="container">
        <div class="row" style="text-align: center;">
          
   
           <div class="col-4"  style="text-align: center" >
   <img src="/pictures/women1.jpeg" class="mensimg" alt="" srcset="">
   <p> Classinc spring </p>
    <p style="inli"> $200 <i class="fa-regular fa-heart mx-5"></i>  </p>
      
           </div>
                 <div class="col-4">
   <img src="/pictures/women2.webp" class="mensimg" alt="" srcset="">
   <p>Air force 1X <br> $350 <i class="fa-regular fa-heart mx-5"></i> </p>
           </div>
                 <div class="col-4">
   <img src="/pictures/women3.webp" class="mensimg" alt="" srcset="">
    <p>Love Nana 20's <br> $300 <i class="fa-regular fa-heart mx-5"></i> </p>
           </div>
        
    </div>
    </div>
</section>
<p style="margin-top: 3em; margin-left:8em">Kids's Latest <br>Details to the dteails Lux-ous makes diffrent</p>

<section>
    <div class="container">
        <div class="row" style="text-align: center;">
          
   
           <div class="col-4"  style="text-align: center" >
   <img src="/pictures/kids1.jpg" class="mensimg" alt="" srcset="">
   <p> Classinc spring </p>
    <p style="inli"> $200 <i class="fa-regular fa-heart mx-5"></i>  </p>
      
           </div>
                 <div class="col-4">
   <img src="/pictures/kid2.webp" class="mensimg" alt="" srcset="">
   <p>Air force 1X <br> $350 <i class="fa-regular fa-heart mx-5"></i> </p>
           </div>
                 <div class="col-4">
   <img src="/pictures/kid3.jpg" class="mensimg" alt="" srcset="">
    <p>Love Nana 20's <br> $300 <i class="fa-regular fa-heart mx-5"></i> </p>
           </div>
        
    </div>
    </div>
</section>

<section>
        <div class="models"  style="text-align: center" >
                <p>Find Your Models <br style="inline-size: 15em;"> Our team will make you new look</p>
        <div class="modelimg">
           <div class="model1">
          <img src="/pictures/stylemode1.webp" class="model1img img1" alt="" srcset="">
           </div>   
           <div class="model1">
           <img src="/pictures/style mode2.webp" class="model1img img2" alt="" srcset="">
           </div>  
           <div class="model1">
               <img src="/pictures/stylemode4.webp" class="model1img img3" alt="" srcset="">
           </div>
           <div class="model1">
               <img src="/pictures/styel model5.webp" class="model1img img4" alt="" srcset="">
           </div>      

        </div>
        </div>

</section>
<section>
      
        <div class="newsLetter">
                <section class="home-newsletter">
<div class="container">
<div class="row">
<div class="col-sm-12">
	<div class="single">
		<h2>Suscribing To Our Newsletter <br> you Can Get 30% offer</h2>
	<div class="input-group">
         <input type="email" class="form-control" placeholder="Enter your email">
         <span class="input-group-btn">
         <button class="btn btn-theme" type="submit">Subscribe</button>
         </span>
          </div>
	</div>
</div>
</div>
</div>
</section>
        </div>
</section>
