<link rel="stylesheet" href="/assets/nav.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<section>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="row men">

        <div class="col-12 ">
            <img src="/pictures/men.webp" alt="" srcset="" style="width: 84em;">
        </div>
        <div class="menh1">
            <h2>Men collection 2024</h2>
            <h1>new Season</h4>
        </div>


        <section>


            <h1 style="text-align: center; font-family:'fangsong">Men's collecion</h1>
            <div class="products">
                <div class="container">


                    <div class="product-items">
                        <!-- single product -->
                        <div class="product">
                            <a href="/products">
                                <div class="product-content">
                                    <div class="product-img">
                                        <img src="pictures/mensh1.jpg" alt="product image">
                                    </div>
                                    <div class="product-btns">
                                        <button type="button" class="btn-cart"> add to cart
                                            <span><i class="fas fa-plus"></i></span>
                                        </button>
                                        <button type="button" class="btn-buy"> buy now
                                            <span><i class="fas fa-shopping-cart"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </a>

                            <div class="product-info">
                                <div class="product-info-top">
                                    <h2 class="sm-title">lifestyle</h2>
                                    <div class="rating">
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="far fa-star"></i></span>
                                    </div>
                                </div>
                                <a href="#" class="product-name">mens DN 23XX, new product</a>
                                <p class="product-price">₹ 150.00</p>
                                <p class="product-price">₹ 133.00</p>
                            </div>

                            <div class="off-info">
                                <h2 class="sm-title">25% off</h2>
                            </div>
                        </div>
                        <!-- end of single product -->
                        <!-- single product -->
                        <div class="product">
                            <div class="product-content">
                                <a href="/products">


                                    <div class="product-img">
                                        <img src="pictures/mensh2.jpg" alt="product image">
                                    </div>
                                    <div class="product-btns">
                                        <button type="button" class="btn-cart"> add to cart
                                            <span><i class="fas fa-plus"></i></span>
                                        </button>
                                        <button type="button" class="btn-buy"> buy now
                                            <span><i class="fas fa-shopping-cart"></i></span>
                                        </button>
                                    </div>
                            </div>

                            <div class="product-info">
                                <div class="product-info-top">
                                    <h2 class="sm-title">lifestyle</h2>
                                    <div class="rating">
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="far fa-star"></i></span>
                                    </div>
                                </div>
                                <a href="#" class="product-name">mens 23XX, new product</a>
                                <p class="product-price">₹ 150.00</p>
                                <p class="product-price">₹ 133.00</p>
                            </div>
                            </a>
                        </div>
                        <!-- end of single product -->
                        <!-- single product -->
                        <div class="product">
                            <div class="product-content">
                                <a href="/products">
                                    <div class="product-img">
                                        <img src="pictures/mens.avif" alt="product image">
                                    </div>
                                    <div class="product-btns">
                                        <button type="button" class="btn-cart"> add to cart
                                            <span><i class="fas fa-plus"></i></span>
                                        </button>
                                        <button type="button" class="btn-buy"> buy now
                                            <span><i class="fas fa-shopping-cart"></i></span>
                                        </button>
                                    </div>
                            </div>
                            <a href="/products">
                                <div class="product-info">
                                    <div class="product-info-top">
                                        <h2 class="sm-title">lifestyle</h2>
                                        <div class="rating">
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="far fa-star"></i></span>
                                        </div>
                                    </div>
                                    <a href="#" class="product-name">mens shoes DN 23XX, new product</a>
                                    <p class="product-price">₹ 150.00</p>
                                    <p class="product-price">₹ 133.00</p>
                                </div>
                        </div>
                        </a>
                        <!-- end of single product -->
                        <!-- single product -->

                        <div class="product">
                            <div class="product-content">
                                <a href="/products">
                                    <div class="product-img">
                                        <img src="pictures/men3.webp" alt="product image">
                                    </div>
                                    <div class="product-btns">
                                        <button type="button" class="btn-cart"> add to cart
                                            <span><i class="fas fa-plus"></i></span>
                                        </button>
                                        <button type="button" class="btn-buy"> buy now
                                            <span><i class="fas fa-shopping-cart"></i></span>
                                        </button>
                                    </div>
                            </div>
                            </a>
                            <div class="product-info">
                                <div class="product-info-top">
                                    <h2 class="sm-title">lifestyle</h2>
                                    <div class="rating">
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="far fa-star"></i></span>
                                    </div>
                                </div>
                                <a href="#" class="product-name">mens adidas, new product</a>
                                <p class="product-price">₹ 150.00</p>
                                <p class="product-price">₹ 133.00</p>
                            </div>

                            <div class="off-info">
                                <h2 class="sm-title">25% off</h2>
                            </div>
                        </div>
                        <!-- end of single product -->
                        <!-- single product -->


                        <!-- end of single product -->
                    </div>
                </div>
            </div>
            <h1 style="text-align: center; font-family:'fangsong">Women's collecion</h1>
            <div class="products">
                <div class="container">


                    <div class="product-items">
                        <!-- single product -->
                        <div class="product">
                            <div class="product-content">
                                <a href="/women">


                                    <div class="product-img">
                                        <img src="pictures/Womecollection/women pant1.jpg" alt="product image">
                                    </div>
                                    <div class="product-btns">
                                        <button type="button" class="btn-cart"> add to cart
                                            <span><i class="fas fa-plus"></i></span>
                                        </button>
                                        <button type="button" class="btn-buy"> buy now
                                            <span><i class="fas fa-shopping-cart"></i></span>
                                        </button>
                                    </div>
                                </a>
                            </div>

                            <div class="product-info">
                                <div class="product-info-top">
                                    <h2 class="sm-title">lifestyle</h2>
                                    <div class="rating">
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="far fa-star"></i></span>
                                    </div>
                                </div>
                                <a href="#" class="product-name">womens CottenDN 23XX, new product</a>
                                <p class="product-price">₹ 150.00</p>
                                <p class="product-price">₹ 133.00</p>
                            </div>

                            <div class="off-info">
                                <h2 class="sm-title">25% off</h2>
                            </div>
                        </div>
                        <!-- end of single product -->
                        <!-- single product -->
                        <div class="product">
                            <a href="/women">
                                <div class="product-content">
                                    <div class="product-img">
                                        <img src="pictures/Womecollection/Womenblue1.jpg" alt="product image">
                                    </div>
                                    <div class="product-btns">
                                        <button type="button" class="btn-cart"> add to cart
                                            <span><i class="fas fa-plus"></i></span>
                                        </button>
                                        <button type="button" class="btn-buy"> buy now
                                            <span><i class="fas fa-shopping-cart"></i></span>
                                        </button>
                                    </div>
                                </div>

                                <div class="product-info">
                                    <div class="product-info-top">
                                        <h2 class="sm-title">lifestyle</h2>
                                        <div class="rating">
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="far fa-star"></i></span>
                                        </div>
                                    </div>
                                    <a href="#" class="product-name">womens top, new product</a>
                                    <p class="product-price">₹ 150.00</p>
                                    <p class="product-price">₹ 133.00</p>
                            </a>
                        </div>
                    </div>
                    <!-- end of single product -->
                    <!-- single product -->
                    <div class="product">
                        <div class="product-content">
                            <a href="/women">


                                <div class="product-img">
                                    <img src="pictures/Womecollection/Swomn1Red.jpg" alt="product image">
                                </div>
                                <div class="product-btns">
                                    <button type="button" class="btn-cart"> add to cart
                                        <span><i class="fas fa-plus"></i></span>
                                    </button>
                                    <button type="button" class="btn-buy"> buy now
                                        <span><i class="fas fa-shopping-cart"></i></span>
                                    </button>
                                </div>
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="product-info-top">
                                <h2 class="sm-title">lifestyle</h2>
                                <div class="rating">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="far fa-star"></i></span>
                                </div>
                            </div>
                            <a href="#" class="product-name">womens goggry style, new product</a>
                            <p class="product-price">₹ 150.00</p>
                            <p class="product-price">₹ 133.00</p>
                        </div>

                    </div>
                    <!-- end of single product -->
                    <!-- single product -->
                    <div class="product">
                        <div class="product-content">
                            <a href="/women">


                                <div class="product-img">
                                    <img src="pictures/Womecollection/womennew1.jpg" alt="product image">
                                </div>
                                <div class="product-btns">
                                    <button type="button" class="btn-cart"> add to cart
                                        <span><i class="fas fa-plus"></i></span>
                                    </button>
                                    <button type="button" class="btn-buy"> buy now
                                        <span><i class="fas fa-shopping-cart"></i></span>
                                    </button>
                                </div>
                            </a>
                        </div>

                        <div class="product-info">
                            <div class="product-info-top">
                                <h2 class="sm-title">lifestyle</h2>
                                <div class="rating">
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="far fa-star"></i></span>
                                </div>
                            </div>
                            <a href="#" class="product-name">womens Tradition latest, new product</a>
                            <p class="product-price">₹ 150.00</p>
                            <p class="product-price">₹ 133.00</p>
                        </div>

                        <div class="off-info">
                            <h2 class="sm-title">25% off</h2>
                        </div>
                    </div>
                    <!-- end of single product -->
                    <!-- single product -->


                    <!-- end of single product -->
                </div>
            </div>
    </div>
    <h1 style="text-align: center; font-family:'fangsong">Kid's Collection</h1>
    <div class="products">
        <div class="container">


            <div class="product-items">
                <!-- single product -->
                <div class="product">
                    <a href="/kid">
                        <div class="product-content">
                            <div class="product-img">
                                <img src="pictures/kids4.webp" alt="product image">
                            </div>
                            <div class="product-btns">
                                <button type="button" class="btn-cart"> add to cart
                                    <span><i class="fas fa-plus"></i></span>
                                </button>
                                <button type="button" class="btn-buy"> buy now
                                    <span><i class="fas fa-shopping-cart"></i></span>
                                </button>
                            </div>
                        </div>
                    </a>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">lifestyle</h2>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <a href="#" class="product-name">baby kurthas23XX, new product</a>
                        <p class="product-price">₹ 150.00</p>
                        <p class="product-price">₹ 133.00</p>
                    </div>

                    <div class="off-info">
                        <h2 class="sm-title">25% off</h2>
                    </div>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <a href="/kid">


                            <div class="product-img">
                                <img src="pictures/kid3.jpg" alt="product image">
                            </div>
                            <div class="product-btns">
                                <button type="button" class="btn-cart"> add to cart
                                    <span><i class="fas fa-plus"></i></span>
                                </button>
                                <button type="button" class="btn-buy"> buy now
                                    <span><i class="fas fa-shopping-cart"></i></span>
                                </button>
                            </div>
                    </div>
                    </a>
                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">lifestyle</h2>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <a href="#" class="product-name">baby shorts XX, new product</a>
                        <p class="product-price">₹ 150.00</p>
                        <p class="product-price">₹ 133.00</p>
                    </div>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <a href="/kid">


                            <div class="product-img">
                                <img src="pictures/kid2.webp" alt="product image">
                            </div>
                            <div class="product-btns">
                                <button type="button" class="btn-cart"> add to cart
                                    <span><i class="fas fa-plus"></i></span>
                                </button>
                                <button type="button" class="btn-buy"> buy now
                                    <span><i class="fas fa-shopping-cart"></i></span>
                                </button>
                            </div>
                    </div>
                    </a>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">lifestyle</h2>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <a href="#" class="product-name">baby ought fashion, new product</a>
                        <p class="product-price">₹ 150.00</p>
                        <p class="product-price">₹ 133.00</p>
                    </div>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <a href="/kid">


                            <div class="product-img">
                                <img src="pictures/Kidcollection/kid02.jpg" alt="product image">
                            </div>
                            <div class="product-btns">
                                <button type="button" class="btn-cart"> add to cart
                                    <span><i class="fas fa-plus"></i></span>
                                </button>
                                <button type="button" class="btn-buy"> buy now
                                    <span><i class="fas fa-shopping-cart"></i></span>
                                </button>
                            </div>
                    </div>
                    </a>
                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">lifestyle</h2>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <a href="#" class="product-name">baby raibow DN , new product</a>
                        <p class="product-price">₹ 150.00</p>
                        <p class="product-price">₹ 133.00</p>
                    </div>

                    <div class="off-info">
                        <h2 class="sm-title">25% off</h2>
                    </div>
                </div>
                <!-- end of single product -->
                <!-- single product -->


                <!-- end of single product -->
            </div>
        </div>
    </div>
</section>