body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.product-table th {
  background-color: #f2f2f2;
}

.product-table img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.product-table .status {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.status.active {
  background-color: #d4edda;
  color: #155724;
}

.status.archived {
  background-color: #fff3cd;
  color: #856404;
}

.status.disabled {
  background-color: #f8d7da;
  color: #721c24;
}

.edit-button,
.unvisible-button,
.undelete-button ,
.visible-button,
.delete-button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
}

.edit-button {
  background-color: #007bff;
  color: white;
}
.undelete-button {
  background-color: #a2e01c;
  color: white;
}
.unvisible-button {
  background-color: #10b6d3;
  color: white;
}

.delete-button {
  background-color: #dc3545;
  color: white;
}
.visible-button {
  background-color: #16bc53;
  color: white;
}
.btn.confirm {
  background-color: #007bff;
  color: white;
  margin-right: 10px;
}

.btn.cancel {
  background-color: red;
  color: white;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
