<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Change Password</title>
<link rel="stylesheet" href="/assets/UserProfile/changePsw.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="body">
    <div class="container">
        <div class="sidebar">
             <ul>
                    <li><a href="/profile"><i class="fas fa-user"></i> My Details</a></li>
                    <li><a href="/profile/wishlist"><i class="fas fa-heart"></i> Wishlist</a></li>
                    <li><a href="/profile/cart"><i class="fas fa-shopping-cart"></i> My Cart</a></li>
                    <li><a href="/profile/allorders"><i class="fa fa-file-text"></i>All Orders</a></li>
                    <li><a href="/profile/editprofile"><i class="fas fa-edit"></i> Edit User Details</a></li>
                    <li><a href="/profile/changepsw"><i class="fas fa-key"></i> Change Password</a></li>
                    <li><a href="/profile/address"><i class="fas fa-map-marker-alt"></i> Address</a></li>
                    <li><a href="#"><i class="fas fa-wallet"></i> Wallet</a></li>
                    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
        </div>
        <div class="content">
            <h2>Password</h2>
            <form>
                <label for="current-password">Current Password</label>
                <input type="password" id="current-password" name="current-password">

                <label for="new-password">New Password</label>
                <input type="password" id="new-password" name="new-password">

                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password">

                <button type="submit">CONFIRM</button>
            </form>
        </div>
    </div>
</div>